---
apiVersion: v1
kind: ConfigMap
apiVersion: v1
metadata:
  name: rclone-conf
  namespace: field-observatory
data:
  rclone.conf: |
   [uh_datacloud]
   type = webdav
   url = https://datacloud.helsinki.fi/public.php/webdav
   vendor = owncloud
   user = Ce5kQ9KL9wBeY3K
